a {
	color: #000000 !important;
	text-decoration: none !important;
}

a:hover {
	text-decoration: underline !important;
}

body {
	padding: 2rem;
}

.dt-head-center, .dt-body-center {
	text-align: center;
}